@import ./variables/_vars
@import ./components/_components
@import ./layout/_layout

*
    box-sizing: border-box
    font-family: 'ALSGorizont-ExtraBoldExpanded'

body
    margin: 0

html
    font-size: 16px

.divider
    height: 300px