@font-face
    font-family: "ALS Gorizont Expanded Regular"
    src: url("https://db.onlinewebfonts.com/t/52ffeb15f7ec5bb258d99836c944a2c8.eot")
    src: url("https://db.onlinewebfonts.com/t/52ffeb15f7ec5bb258d99836c944a2c8.eot?#iefix")format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/52ffeb15f7ec5bb258d99836c944a2c8.woff2")format("woff2"), url("https://db.onlinewebfonts.com/t/52ffeb15f7ec5bb258d99836c944a2c8.woff")format("woff"), url("https://db.onlinewebfonts.com/t/52ffeb15f7ec5bb258d99836c944a2c8.ttf")format("truetype"), url("https://db.onlinewebfonts.com/t/52ffeb15f7ec5bb258d99836c944a2c8.svg#ALS Gorizont Expanded Regular")format("svg")

@import ./variables/_vars
@import ./components/_components
@import ./layout/_layout

*
    box-sizing: border-box
    font-family: 'ALS Gorizont Expanded Regular'

body
    margin: 0

html
    font-size: 16px

.divider
    height: 300px
    background: #6d6d6d

.container
    max-width: 1620px
    padding: 0

@media (max-width: 1680px)
    .container
        max-width: 96vw

    html
        font-size: 15px

@media (max-width: 1400px)
    html
        font-size: 14px

@media (max-width: 540px)
    html
        font-size: 16px