.footer
    min-height: 29.875rem
    background: url(../img/bg/footer_bg.png)
    background-repeat: no-repeat
    background-size: cover
    position: relative

    .up
        position: absolute
        right: 3.12rem
        bottom: 3.12rem

        width: 61px
        height: 108px

        border-radius: 20px
        background: rgba(194, 222, 237, 0.3)
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)

        display: flex
        align-items: center
        justify-content: center
        cursor: pointer

        div
            display: flex
            align-items: center
            justify-content: center
            width: 30px
            height: 30px
            background: #fff
            border-radius: 10px
    @media (max-width: 1400px)
        .up
            bottom: 2.5vw
            right: 2.5vw

    .container
        padding: 3.12rem 4.37rem
        border-radius: 3.125rem
        border: 1px solid #FCF3EC
        background: #FFF
        display: flex
        flex-flow: column wrap
        justify-content: space-between
        min-height: 26.625rem
        transform: translateY(-7.5rem)

    &__top
        display: flex
        justify-content: space-between

        .menu
            &__columns
                display: flex
                justify-content: space-between
                flex-grow: 1
                max-width: 65rem
            &__block
                display: flex
                gap: 5.62rem

            &__column
                display: flex
                flex-flow: column wrap
                gap: 1.25rem

                a
                    color: $base-black
                    font-size: 1rem
                    line-height: 162.5%
                    text-decoration: none
                    transition: .3s ease
                    &:hover
                        color: $base-orange

        @media (max-width: 1680px)
            .menu
                &__columns
                    max-width: 65vw
                &__block
                    gap: 5vw
        @media (max-width: 1480px)
            .menu
                &__columns
                    max-width: max-content
                    gap: 5vw
                &__block
                    gap: 3vw
        @media (max-width: 1240px)
            .menu
                &__columns
                    gap: 4vw
                &__block
                    gap: 2vw
        @media (max-width: 1170px)
            .menu
                &__columns
                    gap: 2vw
                &__block
                    gap: 2vw
        @media (max-width: 1130px)
            .menu
                &__columns
                    display: grid

        .column
            display: flex
            flex-flow: column wrap
            align-items: end
            gap: 1.54rem

    &__bottom
        display: flex
        justify-content: space-between
        align-items: center

    @media (max-width: 1130px)
        .container
            gap: 3rem
            position: relative
        &__top
            .menu
                &__columns
                    flex-flow: column wrap
                    gap: 3.19rem
                &__block
                    gap: 3.5rem
                    &:last-of-type
                        flex-flow: column wrap
                        gap: 1.5rem
        &__bottom
            flex-flow: column wrap
            align-items: end
            position: absolute
            right: 4.37rem
            bottom: 3.12rem
            gap: 1.87rem
            .credits
                flex-flow: column wrap
                align-items: end
                gap: 1rem
        .up
            bottom: 23.5rem
            right: 8vw

