.header
    padding-top: 1.5rem

    &__top, &__menu
        display: flex
        justify-content: space-between
        align-items: center

    .container
        display: flex
        flex-flow: column nowrap
        gap: 1.5rem

        &::after
            content: ''
            display: block
            opacity: 0.3
            background: #FCF3EC
            width: 100%
            height: 1px
            order: 2

    &__top
        order: 1
        gap: 2rem

    &__menu
        order: 3

        .group
            display: flex
            align-items: center
            gap: 3.69rem

            ul
                display: flex
                align-items: center
                gap: 3.12rem
                list-style: none
                margin: 0
                padding: 0

                li, a
                    color: $base-black
                    font-size: 1rem
                    font-weight: 400
                    line-height: 1.625rem
                    text-decoration: none
