.header
    padding-top: 1.5rem

    &__top, &__menu
        display: flex
        justify-content: space-between
        align-items: center

    .left_group
        display: flex
        gap: 1rem

    .container
        display: flex
        flex-flow: column nowrap
        gap: 1.5rem

        &::after
            content: ''
            display: block
            opacity: 0.3
            background: #FCF3EC
            width: 100%
            height: 1px
            order: 2

    &__top
        order: 1
        gap: 2rem

    &__menu
        order: 3

        .search, .location
            display: none

        .group
            display: flex
            align-items: center
            gap: 3.69rem

            ul
                display: flex
                align-items: center
                gap: 3.12rem
                list-style: none
                margin: 0
                padding: 0

                a
                    color: $base-black
                    font-size: 1rem
                    font-weight: 400
                    line-height: 162.5%
                    text-decoration: none
                    transition: .3s ease
                    &:hover
                        color: $base-orange
        @media (max-width: 1480px)
            .group
                gap: 3vw
                ul
                    gap: 2vw
    @media (max-width: 1270px)
        &__top
            .location
                flex-grow: 1
            .search
                display: none
            .profile
                span
                    display: block
        &__menu
            .group
                ul
                    display: none
            .search
                display: flex
                max-width: 33vw
                min-width: 400px

    @media (max-width: 1210px)
        &__menu
            gap: 1rem

    @media (max-width: 1030px)
        &__top
            .location
                span
                    display: none

    @media (max-width: 930px)
        &__top
            gap: 2vw
            .location
                display: none
            .profile
                span
                    display: none
    @media (max-width: 768px)
        &__top
            .number
                a
                    font-size: 1.125rem
        &__menu
            .search input
                max-width: none
                min-width: 0
