.header
    padding-top: 1.5rem

    &__top, &__menu
        display: flex
        justify-content: space-between
        align-items: center

    .left_group
        display: flex
        gap: 1rem

    .container
        display: flex
        flex-flow: column nowrap
        gap: 1.5rem

        &::after
            content: ''
            display: block
            opacity: 0.3
            background: #FCF3EC
            width: 100%
            height: 1px
            order: 2

    &__top
        order: 1
        gap: 2rem

    &__menu
        order: 3

        #cart
            position: relative

        .search, .location, .number
            display: none

        .group
            display: flex
            align-items: center
            gap: 3.69rem

            ul
                display: flex
                align-items: center
                gap: 3.12rem
                list-style: none
                margin: 0
                padding: 0

                a
                    color: $base-black
                    font-size: 1rem
                    font-weight: 400
                    line-height: 162.5%
                    text-decoration: none
                    transition: .3s ease
                    &:hover
                        color: $base-orange
        @media (max-width: 1480px)
            .group
                gap: 3vw
                ul
                    gap: 2vw
    @media (max-width: 1270px)
        &__top
            .location
                flex-grow: 1
            .search
                display: none
            .profile
                span
                    display: block
        &__menu
            .group
                ul
                    display: none
            .search
                display: flex
                max-width: 33vw
                min-width: 400px

    @media (max-width: 1210px)
        &__menu
            gap: 1rem

    @media (max-width: 1030px)
        &__top
            .location
                span
                    display: none

    @media (max-width: 930px)
        &__top
            gap: 2vw
            .location
                display: none
            .profile
                span
                    display: none
        &__menu
            gap: 1.88rem
            .location
                display: flex
                span
                    display: none
                &-menu
                    left: unset
                    right: 0
                    max-width: 300px
            .left_group
                flex-grow: 1
            .right_group
                display: flex
                flex-grow: 1
                justify-content: space-between
                gap: 1.88rem
                align-items: center
                flex-direction: row-reverse
    @media (max-width: 768px)
        &__top
            .number
                a
                    font-size: 1.125rem
        &__menu
            .search
                max-width: none
                min-width: 0
    @media (max-width: 730px)
        &__top
            .number
                a
                    font-size: 1rem
    @media (max-width: 680px)
        &__top
            .number
                display: none
        &__menu
            .info
                display: flex
                justify-content: center
                align-items: center
                position: fixed
                bottom: 0
                left: 0
                width: 100vw
                z-index: 15
                height: 3.25rem
                background: #fff
                border-top: 1px solid rgba(62, 62, 62, 0.30)
                border-bottom: 1px solid rgba(62, 62, 62, 0.30)
            .number
                display: flex
                a, button
                    display: none
            .search
                flex-grow: 0
                min-width: 0
                max-width: fit-content
                input
                    display: none
                button
                    position: static
                    transform: translate(0)
            .left_group
                flex-grow: 1
                justify-content: space-between
                flex-direction: row
            .right_group
                flex-grow: 0
                justify-content: center
            .right_group_search
                .search
                    flex-grow: 0
                    min-width: 0
                    max-width: fit-content
                    input
                        display: block
                    button
                        position: absolute
                        transform: translateY(-50%)

    @media (max-width: 540px)
        &__menu
            .location
                span
                    display: none
            .left_group
                max-height: 50px
            .right_group_search
                .number, .location
                    display: none
    @media (max-width: 375px)
        &__menu
            position: relative
            .location
                position: static
                &-menu
                    left: 0