.number
    display: flex
    align-items: center
    gap: 1.5vw
    .group
        display: flex
        align-items: center
        gap: 0.88rem


    &:hover
        path:nth-child(3)
            stroke: $base-orange

    a
        color: $base-black
        text-decoration: none
        font-size: 1.5rem
        line-height: 162.5%

        span
            font-weight: 600

    svg
        width: 1.5rem
        height: 1.5rem
        *
            transition: .3s ease