.products
    .container
        position: relative

    &__items
        display: grid
        grid-template-columns: repeat(3, 1fr)
        justify-content: center
        gap: 20px

    &__item
        padding: 30px
        background: #fff
        border-radius: 20px
        border: 1px solid $base-beige

    .item
        &_img
            position: relative
            height: 238px
            display: flex
            flex-flow: row wrap
            justify-content: space-between
            margin-bottom: 30px

            .labels
                display: flex
                gap: 10px
                position: relative
                z-index: 4
                .label
                    background: $base-orange
                    color: #fff
                    height: fit-content
                    padding: 10px
                    text-transform: uppercase
                    border-radius: 10px

            .svgs
                display: flex
                flex-flow: column wrap
                gap: 30px
                position: relative
                z-index: 4
                svg
                    *
                        transition: .3s ease
                svg:hover
                    circle
                        fill: $base-orange
                    path
                        stroke: #fff
                        fill: #fff

            img
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                object-fit: contain
                object-position: center center

        &_text
            display: flex
            flex-flow: column wrap
            gap: 30px

            .name
                text-transform: uppercase
                color: $base-black
                font-size: 16px
                line-height: 125%
                margin-bottom: 14px

            .price
                color: $base-orange
                font-size: 24px
                line-height: 83.333%

            .btns
                display: flex
                align-items: center
                gap: 10px

    &__nav
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 20px

    &__cats
        display: flex
        align-items: center
        gap: 14px

    &__cat
        padding: 8px 50px
        min-width: max-content
        background: $base-beige
        border-radius: 10px
        cursor: pointer
        border: 1px solid transparent
        transition: .3s ease

        &:hover
            border-color: $base-blue-gray
            background-color: #fff

        &.current, &:hover.current
            background: $base-blue-gray
            cursor: default

    @media (max-width: 1500px)
        &__items
            grid-template-columns: repeat(2, 1fr)
        &__item
            &:nth-child(3)
                display: none
    
    @media (max-width: 990px)
        &__item
            .btns
                flex-flow: column wrap
                .btn
                    width: 100%

    @media (max-width: 768px)
        &__item
            max-height: 459px

        .item
            &_img
                max-height: 155px

    @media (max-width: 730px)
        &__item
            padding: 30px 20px

        .arrows
            position: absolute
            bottom: 46px
            left: 50%
            transform: translateX(-50%)

        .link
            margin-top: 80px

        &__cats
            overflow-x: auto

    @media (max-width: 580px)
        &__items
            display: flex
        &__item
            max-height: none
            width: 100%
            .btns
                flex-flow: row wrap
                .btn
                    width: 200px
            &:nth-child(2)
                display: none

    @media (max-width: 480px)
        &__item
            max-height: none
            width: 100%
            .btns
                flex-flow: column wrap
                .btn
                    width: 100%