.slider
    margin-top: 40px
    margin-bottom: 100px
    position: relative

    &__container
        position: relative

        .arrows
            position: absolute
            z-index: 4
            left: 100px
            bottom: 176px

    &__dots
        position: absolute
        left: 50%
        bottom: 30px
        transform: translateX(-50%)
        display: flex
        gap: 14px
        z-index: 4
    &__dot
        border-radius: 3px
        background: #fff
        width: 14px
        height: 14px
        cursor: pointer

        &.current
            background: $base-orange
            cursor: default

    &__slides
        max-height: 666px

    &__slide
        background-color: $base-beige
        border-radius: 50px
        overflow: hidden
        height: 666px
        width: 100%
        position: relative

    .slide
        &__content
            position: relative
            z-index: 3
            display: flex
            flex-flow: row wrap
            gap: 6vw
            height: 100%

        &__bg
            display: block
            position: absolute
            top: 0
            right: 0
            width: 43.5%
            height: 100%

        &__text
            max-width: 696px
            padding-top: 110px
            padding-left: 100px
            display: flex
            flex-flow: column wrap
            gap: 40px
            color: $base-black
            line-height: 162.5%

            span
                padding: 10px
                border-radius: 10px
                line-height: 125%
                width: fit-content
                font-size: 16px

        &__title
            line-height: 100%

        &__products
            display: flex
            align-items: flex-end
            flex-flow: row wrap
            position: relative
            flex-grow: 1

        &__group
            display: flex
            align-items: flex-end
            flex-flow: row wrap
            gap: 45px
            padding-bottom: 98px

        &__product
            position: relative

            img
                position: relative
                z-index: 3
            &::after
                position: absolute
                bottom: -10px
                left: 50%
                transform: translateX(-50%)
                z-index: 2
                display: block
                content: ''
                width: 535px
                height: 50px
                border-radius: 50%
                opacity: 0.5
                background: radial-gradient(50% 50% at 50% 50%, #000 0%, rgba(0, 0, 0, 0.00) 100%)

    .slide__product-info
        position: absolute
        top: 0
        right: 0
        display: flex
        justify-content: space-between
        width: 130%
        height: 100%
        padding-right: 3vw
        padding-top: 40px
        padding-bottom: 80px
        .info
            position: relative
            width: 323px
            padding: 22px 30px 23px
            background: #fff
            border-radius: 20px
            color: $base-black
            font-size: 20px
            line-height: 170%
            display: flex
            flex-flow: column wrap
            gap: 4px
            z-index: 4

            &:nth-child(1)
                align-self: flex-end

            &:nth-child(2)
                align-self: flex-start

            a
                position: absolute
                left: 0
                top: 0
                width: 100%
                height: 100%
                z-index: 6

            &:hover
                .name
                    text-decoration: underline

            .price
                color: $base-orange
                font-size: 30px
                line-height: 133.333%

    @media (max-width: 1380px)
        &__container
            .arrows
                left: 330px
                top: 378px
        .slide__content
            flex-flow: column wrap
            height: auto

        .slide__products
            justify-content: space-between
            padding: 0 5vw 92px

        .slide__product-info
            position: relative
            width: auto
            padding: 0
            flex-flow: column wrap
            gap: 20px
            align-items: flex-start
            justify-content: center
            align-self: flex-start

        &__slides
            max-height: none
        &__slide
            height: auto

    @media (max-width: 1080px)
        .slide__products
            padding: 0 24px 92px 50px
        .slide__text
            padding: 60px 50px 0
            max-width: none
