.slider
    margin-top: 40px
    margin-bottom: 100px
    position: relative

    &__dots
        position: absolute
        left: 50%
        bottom: 30px
        transform: translateX(-50%)
        display: flex
        gap: 14px
    &__dot
        border-radius: 3px
        background: #fff
        width: 14px
        height: 14px
        cursor: pointer
        
        &.current
            background: $base-orange
            cursor: default

    &__slides
        max-height: 666px

    &__slide
        background-repeat: no-repeat
        background-color: $base-beige
        background-position-x: right
        background-size: 43.5% 100%
        border-radius: 50px
        overflow: hidden
        display: flex
        flex-flow: row wrap
        gap: 60px

    &__slide
        height: 666px
        width: 100%

    .slide
        &__text
            max-width: 696px
            padding-top: 110px
            padding-left: 100px
            display: flex
            flex-flow: column wrap
            gap: 40px
            color: $base-black
            line-height: 162.5%

            span
                padding: 10px
                border-radius: 10px
                line-height: 125%
                width: fit-content
                font-size: 16px

        &__title
            line-height: 100%

        &__products
            display: flex
            align-items: flex-end
            flex-flow: row wrap
            gap: 45px
            flex-grow: 1
            padding-bottom: 98px
        &__product
            position: relative

            &:nth-child(1) .info
                bottom: 0
                left: -250px

            &:nth-child(2) .info
                top: -60px
                right: -282px

            .info
                position: absolute
                width: 323px
                padding: 22px 30px 23px
                background: #fff
                border-radius: 20px
                color: $base-black
                font-size: 20px
                line-height: 170%
                display: flex
                flex-flow: column wrap
                gap: 4px

                .price
                    color: $base-orange
                    font-size: 30px
                    line-height: 133.333%
