.slider
    position: relative

    &__container
        position: relative

        .arrows
            position: absolute
            z-index: 4
            left: 100px
            bottom: 176px

    &__dots
        position: absolute
        left: 50%
        bottom: 30px
        transform: translateX(-50%)
        display: flex
        gap: 14px
        z-index: 4
    &__dot
        border-radius: 3px
        background: #fff
        width: 14px
        height: 14px
        cursor: pointer

        &.current
            background: $base-orange
            cursor: default

    &__slides
        max-height: 666px

    &__slide
        border-radius: 50px
        overflow: hidden
        height: 666px
        width: 100%
        position: relative
        display: none
        &.current
            display: block

    .slide
        &__content
            position: relative
            z-index: 3
            display: flex
            flex-flow: row wrap
            gap: 6vw
            height: 100%

        &__bg
            display: block
            position: absolute
            top: 0
            right: 0
            width: 43.5%
            height: 100%

        &__text
            max-width: 696px
            padding-top: 110px
            padding-left: 100px
            display: flex
            flex-flow: column wrap
            gap: 40px
            color: $base-black
            line-height: 162.5%

            span
                padding: 10px
                border-radius: 10px
                line-height: 125%
                width: fit-content
                font-size: 16px

        &__title
            line-height: 100%

        &__products
            display: flex
            align-items: flex-end
            flex-flow: row wrap
            position: relative
            flex-grow: 1

        &__group
            display: flex
            align-items: flex-end
            flex-flow: row wrap
            gap: 45px
            padding-bottom: 98px

        &__product
            position: relative

            img
                position: relative
                z-index: 3
            &::after
                position: absolute
                bottom: -10px
                left: 50%
                transform: translateX(-50%)
                z-index: 2
                display: block
                content: ''
                width: 535px
                height: 50px
                border-radius: 50%
                opacity: 0.5
                background: radial-gradient(50% 50% at 50% 50%, #000 0%, rgba(0, 0, 0, 0.00) 100%)

    .slide__product-info
        position: absolute
        top: 0
        right: 0
        display: flex
        justify-content: space-between
        width: 130%
        height: 100%
        padding-right: 3vw
        padding-top: 40px
        padding-bottom: 80px
        .info
            position: relative
            width: 323px
            padding: 22px 30px 23px
            background: #fff
            border-radius: 20px
            color: $base-black
            font-size: 20px
            line-height: 170%
            display: flex
            flex-flow: column wrap
            gap: 4px
            z-index: 4

            &:nth-child(1)
                align-self: flex-end

            &:nth-child(2)
                align-self: flex-start

            a
                position: absolute
                left: 0
                top: 0
                width: 100%
                height: 100%
                z-index: 6

            &:hover
                .name
                    text-decoration: underline

            .price
                color: $base-orange
                font-size: 30px
                line-height: 133.333%

    @media (max-width: 1380px)
        &__container
            .arrows
                left: 330px
                top: 378px
        .slide__content
            flex-flow: column wrap
            height: auto
        .slide__group
            padding: 0
        .slide__products
            justify-content: space-between
            padding: 0 5vw 92px 100px

        .slide__product-info
            position: relative
            width: auto
            padding: 0
            flex-flow: column wrap
            gap: 20px
            align-items: flex-start
            justify-content: center
            align-self: flex-start

        &__slides
            max-height: none
        &__slide
            height: auto

    @media (max-width: 1080px)
        .slide__content
            gap: 0
        &__container
            .arrows
                left: 280px
                top: 328px
        .slide__products
            padding: 0 24px 92px 50px
            .slide__product

                &:nth-child(1)
                    &::after
                        display: none
                    img
                        width: 20vw
                &:nth-child(2)
                    &::after
                        left: -30%
                    img
                        width: 19.9vw
        .slide__text
            padding: 60px 50px 0
            max-width: none
        .slide__product-info
            padding-top: 55px
            .info
                max-width: 260px
                font-size: 16px
                line-height: 125%
                .price
                    font-size: 20px
                    line-height: 150%

    @media (max-width: 768px)
        .slide
            &__text
                gap: 30px
            &__title
                line-height: 50px
        &__dots
            bottom: 20px
        &__slide
            border-radius: 40px
        .slide__products
            padding: 0 24px 92px 50px
            .slide__product
                &:nth-child(1)
                    &::after
                        display: none
                    img
                        width: 158px
                &:nth-child(2)
                    &::after
                        left: -30%
                    img
                        width: 156px
        .arrows
            top: 228px

    @media (max-width: 730px)
        .arrows
            display: none
        .slide
            &__text
                gap: 5.5vw
            &__products
                justify-content: center
                padding: 0 30px 90px
            &__product-info
                position: absolute
                padding: 0 30px 90px
                width: 100%
                justify-content: space-between
            &__content
                gap: 30px
            &__bg
                top: unset
                width: 120%
                bottom: -557px
                left: 0

    @media (max-width: 480px)
        .slide__products .slide__product:nth-child(2)::after
            bottom: -22px
        &__slide
            border-radius: 30px
        .slider__slide
            span
                padding: 3px 5px
                font-size: 10px
                line-height: 20px
        .slide
            &__bg
                bottom: -327px
            &__group
                gap: 15px
            &__title
                font-size: 24px
                line-height: 34px
            &__text
                padding: 30px 20px 0
                gap: 0
                .btn
                    margin-top: 10px
            &__products
                justify-content: flex-start
                padding: 0 30px 140px
            &__product-info
                padding: 0 1vw 45px
                justify-content: space-between
                height: fit-content
                bottom: 0
                top: unset
                .info
                    line-height: 20px
                    gap: 0
                    padding: 10px 16px
                    max-width: 200px
                    .name
                        font-size: 12px

            &__product img
                max-width: 84px

    @media (max-width: 320px)
        .slide
            &__product-info
                padding: 0 0 45px
                .info
                    max-width: 174px
